* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #F1F1F1;
    font-family: 'Roboto', sans-serif;
}


.info-payment{
    background: rgba(226, 221, 221, 1);
    padding: 10px;
    margin-top: -10px;
}

.info-payment h2{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.9);    
}

#card-payment{
    padding: 12px 20px;
}

label[for="cart-input"]{
    position: relative;
    top:-1.7px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.6;
}

input[type="radio"]{
    transform: scale(1.4);
}

#info-input-card{

    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.card-info{
    display: flex;
    flex-direction: column;
}