@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #F1F1F1;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#header-container-principal{
    padding: 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#menu-hamburger{
    padding: 12px 12px;
}

#logo{
    margin-top: 18px;
}

#logo span{
    display: block;
    font-size: 13px;
    font-weight:bold;
    color:rgba(0, 0, 0, 0.65);
    position: relative;
    bottom: 10px;
    
}

#cart{
    margin-top: 17px;
    margin-right: 8px;
}

#header-container-search{
    margin-top: -10px;
}

.elipse{
    position: relative;
    bottom: 35px;
    left: 14px;
    background-color: #EA9413;
    border-radius: 100px;
    width: 17px;
    height: 17px;
}


.elipse span{
    display: inline-block;
    color: wheat;
    font-weight: bold;
    margin-left: 4px;
}

#search-menu{
    justify-content: center;
    display: flex;
} 

#search-menu input{
    width: 350px;
    outline: none;
    border: none;
    height: 46px;
    border-radius: 10px;
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.49);
    background: #eeeeee;
}

#search-menu input::placeholder{
    font-size: 19px;
    color: rgba(0, 0, 0, 0.49);
    font-family: 'Roboto', sans-serif;
    padding-left: 5px;
    font-weight: 300;
}

#search-menu button{
    position: relative;
    right:10px;
    z-index: 1;
    width: 40px;
    height: 46px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 4px;
    background: #eeeeee;

}

#search-menu button img{
    margin-top: 7px;
    width: 100%;
}


/* Nav side */
#nav-side{
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.658);
    height: 100%;
    width: 100%;
}

#logo-menu span{
    display: block;
    font-size: 13px;
    font-weight:bold;
    color:rgba(0, 0, 0, 0.65);
    position: relative;
    bottom: 40px;
    left: 30px;
    
}

.close img{
    position: relative;
    top: 3px;
    left: 2px;
    width: 90%;
}

.close{
    position: fixed;
    top: 50px;
    right: 12px;
    width:40px;
    height: 40px;
    background-color: white;
    border-radius: 100px;

}

#area-menu{
    background: #F7F4F4;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.25);
    width: 80%;
    height: 100%;
}

#area-menu img{
    margin-top: 18px;
    padding: 30px;
}

#user{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.user-img{
    width: 95px;
}

#img-user{
    margin-top: -30px;
}

#img-user{
    border: 1px solid rgba(0, 0, 0, 0.49);
    background: #F7F4F4;
    border: none;
    width: 30px;
}


#user-area-info{
    padding: 10px;
    margin-left: 45px; 
}

#user-area-info h2{
    color: rgba(50, 50, 50, 0.87);
    font-weight: 400;
    font-size: 23px;
    border-bottom: 1px solid black;
}

#acess-acount-user{
    text-decoration: none;
    font-size: 13px;
    color: rgba(50, 50, 50, 0.795);
    margin-left: 10px;
}

#drop-list{
    display:none;
}

.close-menu{
    display: inline-block;
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 30px;
    top:-90px;
    left: 330px   
}
#dropdown-menu{
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    font-weight: 700;
    font-size:14px ;
}

#nav-side ul li{
    padding: 8px 10px;
    margin-left: 12px;
    list-style: none;
}
.link-menu{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size:14px ;
    font-weight: 700;
    text-transform: uppercase;
}

.link-menu span{
    position: relative;
    top: 6.5px;
}
.profile {
    display: flex;
    align-items: center;
    margin-left: 20px;
    
}
.profileName{
    line-height: 20px;
}
.nameProfile{
    font-size: 24px;
    margin: 10px;
    font-weight: 300;
}
.quit p{
    margin: 10px;
    color: black;
    font-weight: 500;
}    
a {
    text-decoration: none;
}
.quit img {
    margin-left: 10px;

}
.address{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #E2DDDD;
    margin: 20px 0px 20px 0px;
}
.myAddress, .addresDescript{
    margin-left: 10px;
}
.addresDescript{
    height: 400;
    line-height: 25px;
}

.menus{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center
}
.menus p{
    margin-right: 27px;
    color: black;
    font-weight: 400;
}
.order {
    width: 100%;
    background-color: #E2DDDD;
    height: 30px;
    line-height: 30px;
    margin: 20px 0px 20px 0px;
}
.order p{
    margin-left: 10px;
}

.myOrder p{
    padding-right: 50px;
}
.orderPortrait{
    background-color: #E2DDDD;
    display: flex;
    
}
.line {
    display: flex;
    margin-left: 10px;
    align-items: center;
    
}
.orderPay{
    margin-left: 20px;
    margin-right: 56px;
}
.orderStatus{
    padding-left: 10px;
}
.more {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FACC22;
    padding: 3px;
    border-radius: 10px;
}

/* ------------------------------- */


.name0rder{
    display:flex ;
    list-style: none;
    justify-content: space-between;
    width:75%;
    padding-bottom: 5px;
}

.name0rder li{
    margin-left: 5px;

}
.portrait-title{
    font-weight: 500;
    font-size: 13px;
}

.props-status{
    position: relative;
    left: -10px;
}

.pos-number{
    position: relative;
    left: 20px;
}

.pos-date{
    position: relative;
    left: 20px;
}

.pos-ticket{
    position: relative;
    left: 10px;
}



.itens-portrait{
    margin-top: 5px;
    overflow: hidden;
}
.itens-portrait{
    background-color: rgba(0, 0, 0, 0.15);
    height: 52px;
}

.list-itens-portrait{
    font-weight: 300;
    font-size: 13px;
    padding-top: 20px;
}




.datails-itens{
    display: flex;
    justify-content: space-between;
    position: relative;
    left:-5px;
    top: -38px;

}

.datails-itens button{
    padding: 5px;
    height: 46px;
    background-color: rgba(250, 204, 34, 1);
    outline: none;
    border: none;
    border-radius: 10px;
}

.elipse-itens{
    position: relative;
    left:79%;
    top:22px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.separation{
    background-color: #F29100;
}

.done{
    background-color: #00DA16
}