<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoria</title>
    <link href="../styles/category-strings.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../styles/header-menu-footer.css" rel="stylesheet">
</head>

<body>
    <!-- Begin Header -->
    <header>
        <div id="header-container-principal">
            <div id="menu-hamburger">
                <img src="../images/icons/menu.png">
            </div>

            <div id="logo">
                <img src="../images/logo.png">
                <span>INSTRUMENTOS</span>
            </div>

            <div id="cart">
                <div id="elipse-cart">
                    <img class="cart-icon" src="../images/icons/cart.png">
                    <div class="elipse">
                        <span>0</span>
                    </div>
                </div>
            </div>
        </div>


        <nav id="nav-side">
            <div id="area-menu">

                <div id="logo-menu">
                    <img src="../images/logo.png" alt="">
                    <span>INSTRUMENTOS</span>
                </div>


                <div id="user">
                    <div id="img-user">
                        <img src="../images/icons/usuario.png" class="user-img">
                    </div>

                    <div id="user-area-info">
                        <h2>Olá,faça seu login</h2>
                        <span><a href="#" id="acess-acount-user"> Acessar a área do usuario</a></span>
                    </div>
                </div>

                <ul>

                    <li class="link-menu">
                        <div id="open_drop">
                            Categorias <span class="material-icons">arrow_drop_down</span>
                        </div>
                        <ul id="drop-list">
                            <li class="drop-item">
                                <a href="#" class="link-menu">Cordas</a>
                            </li>
                            <li class="drop-item">
                                <a href="#" class="link-menu">Sopro</a>
                            </li>
                            <li class="drop-item">
                                <a href="#" class="link-menu">Teclas</a>
                            </li>
                            <li class="drop-item">
                                <a href="#" class="link-menu">Acessórios</a>
                            </li>
                        </ul>
                    </li>

                    <li><a href="#" class="link-menu move">Meus Perfil</a></li>
                    <li><a href="#" class="link-menu move">Meus Pedidos</a></li>
                    <li><a href="#" class="link-menu">Fale Conosco</a></li>
                </ul>
            </div>

            <span class="close"><img src="../images/icons/close.png"></span>
        </nav>


        <div id="header-container-search">
            <form id="search-menu">
                <input type="text" placeholder="O que você procura hoje?">
                <button type="submit"><img src="../images/icons/search_icon.png"></button>
            </form>
        </div>
    </header>


    <!-- End Header -->

    <!-- Begin your code here -->

    <div class="category-title">
        <span>Cordas</span>
    </div>

    <!-- Begin Product Image Slider -->

    <div class="category-subtitle">
        <span>Guitarras</span>
    </div>

    <ul class="product-image-ul">

        <li class="list-item-container">
            <div>
            <a class="link-to-product-page" href="#">
                <img class="product-image"
                    src="../images/fender_jaguar_black.png">
                <div class="title-link-to-product-page"><p>JAGUAR BLACK</p></div>
                <div class="price-link-to-product-page"><p>R$7.867,50</p></div>
            </a>
            </div>
        </li>

        <li class="list-item-container">
            <a class="link-to-product-page" href="#">
                <img class="product-image"
                    src="../images/guitarra_fender_mex_artist_signatures_sig_series_jimi_hendrix_stratocaster_3-color_sunburst.jpg">
                <div class="title-link-to-product-page">STRATOCASTER 3</div>
                <div class="price-link-to-product-page">R$11.299,90</div>
            </a>
        </li>

        <li class="list-item-container">
            <a class="link-to-product-page" href="#">
                <img class="product-image"
                    src="../images/fender_vintera_70s_maple.png">
                <div class="title-link-to-product-page">VINTERA 70'S</div>
                <div class="price-link-to-product-page">R$9.418,50</div>
            </a>
        </li>
    </ul>

    <div class="category-subtitle">
        <span>Violões</span>
    </div>

    <ul class="product-image-ul">
        <li class="list-item-container">
            <a class="link-to-product-page" href="#">
                <img class="product-image"
                    src="../images/violao_gn14_gianni.jpg">
                <div class="title-link-to-product-page">GIANNINI GN14</div>
                <div class="price-link-to-product-page">R$398,90</div>
            </a>
        </li>

        <li class="list-item-container">
            <a class="link-to-product-page" href="#">
                <img class="product-image"
                    src="../images/violao_giannini_folk.jpg">
                <div class="title-link-to-product-page">GIANNINI FOLK</div>
                <div class="price-link-to-product-page">R$1766,90</div>
            </a>
        </li>

        <li class="list-item-container">
            <a class="link-to-product-page" href="#">
                <img class="product-image"
                    src="../images/viola_o_gretsch_rancher_falcon_jumbo_.jpg">
                <div class="title-link-to-product-page">GRETSCH FALCON</div>
                <div class="price-link-to-product-page">R$5.389,90</div>
            </a>
        </li>
    </ul>

    <div class="category-subtitle">
        <span>Contrabaixos</span>
    </div>

    <ul class="product-image-ul">
        <li class="list-item-container">
            <div>
            <a class="link-to-product-page" href="#">
                <img class="product-image"
                    src="../images/baixo-4-cordas-passivo-fender-squier-classic-vibe-60s-jazz-bass.jpg">
                <div class="title-link-to-product-page"><p>SQUIER 60'S</p></div>
                <div class="price-link-to-product-page"><p>R$3.959,00</p></div>
            </a>
            </div>
        </li>

        <li class="list-item-container">
            <a class="link-to-product-page" href="#">
                <img class="product-image"
                    src="../images/baixo-4-cordas-passivo-squier-vintage-modified-jazz-bass.jpg">
                <div class="title-link-to-product-page">SQUIER JAZZ</div>
                <div class="price-link-to-product-page">R$3.724,00</div>
            </a>
        </li>

        <li class="list-item-container">
            <a class="link-to-product-page" href="#">
                <img class="product-image"
                    src="../images/baixo-4-cordas-passivo-strinberg.jpg">
                <div class="title-link-to-product-page">STRINBERG PBS40</div>
                <div class="price-link-to-product-page">R$899,00</div>
            </a>
        </li>
    </ul>

    <!-- End Product Image Slider -->



    <!-- End your code here -->

    <script src="../js/category-strings.js"></script>
</body>

</html>