<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/criar-conta.css">
    <title>Crie a sua conta</title>
</head>
<body>
    <!--Begin Header-->
    <header>
        <div class="logo">
            <img src="../images/logo.png">
            <span>INSTRUMENTOS</span>
        </div>
    </header>
    <!--End Header-->
    <!-- form begin here -->
    <form>
        <!-- portrait begin here -->
        <div class="portrait">
            <h1>Crie a sua conta</h1>
            <div class="fields">
                <label for="name">Nome</label>
                <input required type="text" placeholder="Insira seu nome">
            </div>
            <div class="fields">
                <label for="last-name">Sobrenome</label>
                <input required type="text" placeholder="Insira seu sobrenome">
            </div>
            <div class="fields">
                <label for="email">E-mail</label>
                <input required type="text" placeholder="Insira seu e-mail">
            </div>
            <div class="fields">
                <label for="password" >Senha</label>
                <input required type="password" class="password" placeholder="Crie uma senha">
            </div>
            <div class="fields">
                <label for="conf-password">Confirme sua senha</label>
                <input required type="password" class="password confirm" placeholder="Confirme sua senha">
            </div>
            <!-- portrait end here -->
        </div>
        <div class="button">
            <button type="submit">Cadastrar</button>
        </div>
    <!-- form end here -->
    </form>
</body>
</html>