<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Molde-header-menu-footer</title>
    <link href="../styles/header-menu-footer.css" rel="stylesheet" >
</head>
    <body>
        <!-- Begin Header -->
        <header>    
            <div id="header-container-principal">
                <div id="menu-hamburger">
                        <img  src="../images/icons/menu.png">
                </div>
                <div id="logo">
                    <img src="../images/logo.png" >
                    <span>INSTRUMENTOS</span>
                </div>
                <div id="cart">  
                    <div id="elipse-cart">
                        <img src="../images/icons/cart.png">
                        <div class="elipse">
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="header-container-search">
                <form id="search-menu">
                    <input type="text" placeholder="O que você procura hoje?">
                    <button type="submit"><img src="../images/icons/search_icon.png"></button>
                </form>
            </div>
        </header>  
        <!-- End Header -->

        <!-- Begin your code here -->




        <!-- End your code here -->
        
        <!-- Begin footer Menu -->
            <footer>
                <nav id="menu-footer">
                    <ul>
                        <li id="home">
                            <img src="../images/icons/home.png">
                            <span>Inicio</span>
                        </li>

                        <li id="category">
                            <img src="../images/icons/hamburguer.png">
                            <span>Categorias</span>
                        </li>

                        <li id="saved">
                            <img src="../images/icons/bookmark_full 1.png">
                            <span>Salvos</span>
                        </li>

                        <li id="account">
                            <img src="../images/icons/usuario.png">
                            <span>Conta</span>
                        </li>
                    </ul>
                </nav>
            </footer>
        <!-- Eng footer Menu -->
    </body>
</html>