<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Dev.Sound</title>
    <link href="../styles/login.css" rel="stylesheet" >
</head>
    <body>

        <header>
            <div id="area-logo"><a href="../index.html">
                <img id="logo" src="../images/logo.png"></a>
                <span>INSTRUMENTOS</span>
            </div>
        </header>
        
        <div id="area-login-user">
       
            <form id="form-user-login">

                <div id="area-input">
                    <div class="area-input-login">
                        <label for="login"> Login </label>
                        <input type="text" placeholder="Insira seu e-mail" id="login" required>
                    </div>

                    <div class="area-input-login">
                        <label for="password">Senha</label>
                        <input type="password" placeholder="Digite sua senha" id="password"required>
                    </div>
                </div>
            
                <button type="submit"> Entrar </button>

            </form>

            <div id="links-user">
                <a href="../pages/create-account.html" id="create-count"> Crie sua conta </a>
                <!-- <a href="#" id="forgot-password"> Recupere sua senha </a> -->
            </div>
       
        </div>

    <script src="../js/login.js"></script>
    </body>
</html>