<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Molde-header-menu-footer</title>
    <link href="../styles/header-menu-footer.css" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../styles/payment.css" rel="stylesheet" >
</head>
    <body>
        <!-- Begin Header -->
        <header>    
            <div id="header-container-principal">
                <div id="menu-hamburger">
                 <img  src="../images/icons/menu.png">
                </div>

                <div id="logo">
                    <img src="../images/logo.png" >
                    <span>INSTRUMENTOS</span>
                </div>

                <div id="cart">  
                    <div id="elipse-cart">
                        <img class="cart-icon" src="../images/icons/cart.png">
                        <div class="elipse">
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div> 


            <nav id="nav-side">
                <div id="area-menu">
                    
                    <div id="logo-menu">
                        <img src="../images/logo.png" alt="">
                        <span>INSTRUMENTOS</span>
                    </div>
               

                    <div id="user">  
                        <div id="img-user">
                            <img src="../images/icons/usuario.png" class="user-img">
                        </div>

                        <div id="user-area-info">
                            <h2>Olá,faça seu login</h2>
                            <span><a href="#" id="acess-acount-user"> Acessar a área do usuario</a></span>
                        </div>
                    </div>
                    
                    <ul>

                        <li class="link-menu" >
                            <div id="open_drop">
                                Categorias <span class="material-icons">arrow_drop_down</span>
                            </div>
                          <ul id="drop-list">  
                            <li class="drop-item">
                               <a href="#" class="link-menu">Cordas</a>
                            </li>
                            <li class="drop-item">
                                <a href="#" class="link-menu">Sopro</a>
                            </li>
                            <li class="drop-item">
                                <a href="#" class="link-menu">Teclas</a>
                            </li>
                            <li class="drop-item">
                                <a href="#" class="link-menu">Acessórios</a>
                            </li>
                        </ul>
                        </li>
                        
                        <li><a href="#" class="link-menu move" >Meu Perfil</a></li>
                        <li><a href="#" class="link-menu move" >Meus Pedidos</a></li>     
                        <li><a href="#" class="link-menu">Fale Conosco</a></li>
                    </ul>
                </div>

                <span class="close"><img src="../images/icons/close.png"></span>
            </nav>
        </header>  
        
        <!-- End Header -->

        <!-- Begin your code here -->

            <div id="container-payment">
                <div class="info-payment">
                    <h2>Forma de pagamento</h2>
                </div>

                <form id="card-payment">

                    <input type="radio" id="cart-input">
                    <label for="cart-input">Cartão de Crédito</label>
                        
                    <div id="info-input-card">
                        <div class="card-info">
                            <label for=""> Número do Cartão </label>
                            <input type="text" placeholder="" required>
                        </div>

                        <div class="card-info">
                            <label for=""> Nome do Cartão </label>
                            <input type="text" placeholder="" required>
                        </div>
                    </div>

                </form>
            </div>

        <!-- End your code here -->
        
    <script src="../js/menu-header.js"></script>
    <script src="../js/payment.js" ></script>
    </body>
</html>