<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <link href="../styles/product.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <!-- Begin Header -->
    <header>
        <div id="header-container-principal">
            <div id="menu-hamburger">
                <img src="../images/icons/menu.png">
            </div>

            <div id="logo">
                <img src="../images/logo.png">
                <span>INSTRUMENTOS</span>
            </div>

            <div id="cart">
                <div id="elipse-cart">
                    <img class="cart-icon" src="../images/icons/cart.png">
                    <div class="elipse">
                        <span>0</span>
                    </div>
                </div>
            </div>
        </div>


        <nav id="nav-side">
            <div id="area-menu">

                <div id="logo-menu">
                    <img src="../images/logo.png" alt="">
                    <span>INSTRUMENTOS</span>
                </div>


                <div id="user">
                    <div id="img-user">
                        <img src="../images/icons/user_account_profile_icon.png" class="user-img">
                    </div>

                    <div id="user-area-info">
                        <h2>Olá, faça seu login</h2>
                        <span><a href="#" id="acess-acount-user"> Acessar a área do usuario</a></span>
                    </div>
                </div>

                <ul>

                    <li class="link-menu">
                        <div id="open_drop">
                            Categorias <span class="material-icons">arrow_drop_down</span>
                        </div>
                        <ul id="drop-list">
                            <li class="drop-item">
                                <a href="#" class="link-menu">Cordas</a>
                            </li>
                            <li class="drop-item">
                                <a href="#" class="link-menu">Sopro</a>
                            </li>
                            <li class="drop-item">
                                <a href="#" class="link-menu">Teclas</a>
                            </li>
                            <li class="drop-item">
                                <a href="#" class="link-menu">Acessórios</a>
                            </li>
                        </ul>
                    </li>

                    <li><a href="#" class="link-menu move">Meu Perfil</a></li>
                    <!-- <li><a href="#" class="link-menu move" >Meus Pedidos</a></li>      -->
                    <li><a href="#" class="link-menu">Fale Conosco</a></li>
                </ul>
            </div>

            <span class="close"><img src="../images/icons/close.png"></span>
        </nav>


        <div id="header-container-search">
            <form id="search-menu">
                <input type="text" placeholder="O que você procura hoje?">
                <button type="submit"><img src="../images/icons/search_icon.png"></button>
            </form>
        </div>
    </header>
    <!-- End Header -->

    <!-- Begin Product Image Slider -->

    <div class="slider-icon-container">
    <div class="slider-icons">
    <img class="next-icon" id="next-icon-1" src="../images/icons/next_icon_left.png"/>
    <img class="next-icon" id="next-icon-2" src="../images/icons/next_icon_right.png"/>
    </div>
    </div>


    <div class="product-banner">
        <ul>
            <li>
                <img class="product-image" id="productImage1" 
                    src="../images/guitarra_fender_mex_artist_signatures_sig_series_jimi_hendrix_stratocaster_3-color_sunburst.jpg">
            </li>
            <li>
                <img class="product-image" id="productImage2" 
                    src="../images/guitarra_fender_mex_artist_signatures_sig_series_jimi_hendrix_stratocaster_3-color_sunburst_2.jpg">
            </li>
        </ul>
    </div>

    <!-- End Product Image Slider -->

    <!-- Start Product Title and Description -->

    <div class="product-title">
        <h3 class="product-title-text">Guitarra Fender Jimi Hendrix Stratocaster 3</h3>
        <p class="short-product-description">O mesmo som incendiário e o mesmo feeling das distintas Strats "invertidas" que Hendrix usava, com visual clássico e timbre "vintage".</p>
    </div>

    <div class="price-button-box">

        <div class="prices-text">
            <div class="old-price">
                <p>R$11.999,90</p>
            </div>

            <div class="price">
                <p>R$11.299,90</p>
            </div>
        </div>

        <div class="buy-button-box">
            <a href="#" class="buy-button-text">Comprar</a>
        </div>

    </div>

    <div class="product-description-box">

        <div class="product-description">
            <span class="product-description-title">Descrição</span>

            <p class="product-description-text">
                A base do som e do estilo único de tocar de Jimi Hendrix era "transformar" uma guitarra para destro em uma guitarra para canhoto, invertendo a posição da guitarra e as cordas, resultando no headstock e no captador da ponte invertidos, características reproduzidas aqui em detalhes precisos.</p>
        </div>

        <div class="product-specs">
            <span class="product-specs-title">Especificações técnicas</span>
            <p class="product-specs-text">
                - Corpo em alder <br>
                - Braço maple "C" shape c/ headstock invertido <br>
                - Escala em maple com 25.5" (64.8 cm) <br>
                - Escala com raio de 9.5" (241 mm) <br>
                - 21 trastes medium jumbo <br>
                - Largura do nut de 1.650" (42 mm) <br>
                - Tarraxas estilo vintage <br>
                - Ponte estilo vintage c/ 6 saddles <br>
                - Ferragem cromada <br>
                - 3 captadores Pure Vintage '65 Gray-Bottom Single-Coil Strat® <br>
                - Chave de 5 posições <br>
                - Escudo sanduiche branco (3 ply) <br>
                - Controles de MV/T/T <br>
                - Encordoamento Fender® USA 250R (.010-.046) <br>
                - Acompanha Deluxe Gig Bag</p>
        </div>
    </div>

    <!-- End Product Title and Description -->

    <script src="../js/product.js"></script>
</body>

</html>