<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link href="../styles/profile.css" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
    <body>
        <!-- Begin Header -->
        <header>    
            <div id="header-container-principal">
                <div id="menu-hamburger">
                 <img  src="../images/icons/menu.png">
                </div>

                <div id="logo">
                    <img src="../images/logo.png" >
                    <span>INSTRUMENTOS</span>
                </div>

                <div id="cart">  
                    <div id="elipse-cart">
                        <img class="cart-icon" src="../images/icons/cart.png">
                        <div class="elipse">
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div> 


            <nav id="nav-side">
                <div id="area-menu">
                    
                    <div id="logo-menu">
                        <img src="../images/logo.png" alt="">
                        <span>INSTRUMENTOS</span>
                    </div>
               

                    <div id="user">  
                        <div id="img-user">
                            <img src="../images/icons/usuario.png" class="user-img">
                        </div>

                        <div id="user-area-info">
                            <h2>Olá,faça seu login</h2>
                            <span><a href="#" id="acess-acount-user"> Acessar a área do usuario</a></span>
                        </div>
                    </div>
                    
                    <ul>

                        <li class="link-menu" >
                            <div id="open_drop">
                                Categorias <span class="material-icons">arrow_drop_down</span>
                            </div>
                          <ul id="drop-list">  
                            <li class="drop-item">
                               <a href="#" class="link-menu">Cordas</a>
                            </li>
                            <li class="drop-item">
                                <a href="#" class="link-menu">Sopro</a>
                            </li>
                            <li class="drop-item">
                                <a href="#" class="link-menu">Teclas</a>
                            </li>
                            <li class="drop-item">
                                <a href="#" class="link-menu">Acessórios</a>
                            </li>
                        </ul>
                        </li>
                        
                        <li><a href="#" class="link-menu move" >Meu Perfil</a></li>
                        <li><a href="#" class="link-menu move" >Meus Pedidos</a></li>     
                        <li><a href="#" class="link-menu">Fale Conosco</a></li>
                    </ul>
                </div>

                <span class="close"><img src="../images/icons/close.png"></span>
            </nav>
        </header>  
        <!-- End Header -->

        <!-- Begin your code here -->
        <div class="profile">
            <img src="../images/icons/icon-perfil.png">
            <div class="profileName">
                <p class="nameProfile">Nome do Cliente</p>
                <a class="quit" href="../index.html"><p>Sair<img src="../images/logout 1.png"></p></a>
            </div>         
        </div>
        <div class="address">
            <p class="myAddress">Meu endereço de entrega</p>
        </div>
        <div class="addresDescript">
            <p>Lorem ipsum dolor sit, Butantã, São Paulo, SP </p>
            <p><strong>Número</strong>: 88 </p>
            <p><strong>CEP</strong>: 05314-011</p>
            <p><strong>Complemento</strong>:  apt 22 </p>
        </div>
        <div class="menus">
            <a href="#"><p>EXCLUIR</p></a>
            <a href="#"><p>ALTERAR</p></a>
        </div>
        <div class="order">
            <p>Meus pedidos</p>
        </div>

       <div>         

        <div id="area-portrait-itens">  <!--Area Portrait -->
        
         

            <div class="portrait-itens">
                <ul class="name0rder portrait-title">
                    <li><span>Número Pedido </span> </li>
                    <li><span>Data </span> </li>
                    <li> <span>Pagamento</span> </li>
                    <li > <span  class="props-status">Status </span></li>
                </ul>


               <div class="itens-portrait">

                    <ul class="name0rder list-itens-portrait">
                        <li><span class="pos-number"> 2196974 </span></li>
                        <li><span class="pos-date">1/06/21</span></li>
                        <li><span class="pos-ticket">Boleto</span></li>
                        <li>  <span> Concluido </span>  </li>
                    </ul>
                
                    <div class="datails-itens">
                        <span class="elipse-itens done"></span>
                       <button> 
                            <span> + </span>
                            <p>Detalhes</p>
                        </button>
                    </div>
               
                </div>

                <div class="itens-portrait">

                    <ul class="name0rder list-itens-portrait">
                        <li><span class="pos-number"> 2196974 </span></li>
                        <li><span class="pos-date">1/06/21</span></li>
                        <li><span class="pos-ticket">Boleto</span></li>
                        <li>  <span> Separação </span>  </li>
                    </ul>
                    
                   
                    <div class="datails-itens">
                       <span class="elipse-itens separation"></span>
                       <button>
                            <span> + </span>
                            <p>Detalhes</p>
                        </button>
                    </div>
               
                </div>


                
                
            
            </div>
            
   
       
        </div> <!--Area Portrait -->
    </div>
        <!-- End your code here -->
    
    <script src="../js/profile.js"></script>
    </body>
</html>