<!DOCTYPE html>
<html lang="pt-br">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Molde-header-menu-footer</title>
    <link href="./styles/index.css" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <!-- Begin Header -->
        <header>    
            <div id="header-container-principal">
                <div id="menu-hamburger">
                 <img  src="./images/icons/menu.png">
                </div>

                <div id="logo">
                    <img src="./images/logo.png" >
                    <span>INSTRUMENTOS</span>
                </div>

                <div id="cart">  
                    <div id="elipse-cart">
                        <img class="cart-icon" src="./images/icons/cart.png">
                        <div class="elipse">
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div> 


            <nav id="nav-side">
                <div id="area-menu">
                    
                    <div id="logo-menu">
                        <img src="./images/logo.png" alt="">
                        <span>INSTRUMENTOS</span>
                    </div>
               

                    <div id="user">  
                        <div id="img-user">
                            <img src="./images/icons/usuario.png" class="user-img">
                        </div>

                        <div id="user-area-info">
                            <h2>Olá,faça seu login</h2>
                            <span><a href="#" id="acess-acount-user"> Acessar a área do usuario</a></span>
                        </div>
                    </div>
                    
                    <ul>

                        <li class="link-menu" >
                            <div id="open_drop">
                                Categorias <span class="material-icons">arrow_drop_down</span>
                            </div>
                          <ul id="drop-list">  
                            <li class="drop-item">
                               <a href="#" class="link-menu">Cordas</a>
                            </li>
                            <li class="drop-item">
                                <a href="#" class="link-menu">Sopro</a>
                            </li>
                            <li class="drop-item">
                                <a href="#" class="link-menu">Teclas</a>
                            </li>
                            <li class="drop-item">
                                <a href="#" class="link-menu">Acessórios</a>
                            </li>
                        </ul>
                        </li>
                        
                        <li><a href="#" class="link-menu move" >Meus Perfil</a></li>
                        <li><a href="#" class="link-menu move" >Meus Pedidos</a></li>     
                        <li><a href="#" class="link-menu">Fale Conosco</a></li>
                    </ul>
                </div>

                <span class="close"><img src="./images/icons/close.png"></span>
            </nav>


            <div id="header-container-search">  
                <form id="search-menu">
                    <input type="text" placeholder="O que você procura hoje?">
                    <button type="submit"><img src="./images/icons/search_icon.png"></button>
                </form>
            </div>
        </header>  

        <!-- End Header -->

    <!-- Begin banner -->

    <div class="banner">
        <img id="banner1" tittle="Tagima Banner" style="display:none" src="./images/banner_1 (1).png" alt="Info banner Tagima">
    </div>
    <div class="banner">
        <img id="banner2" tittle="info-banner" src="./images/banner-2 1 (1).png" alt="Info banner Yamaha">
    </div>
    <!-- End banner-->

    <!--Begin highlights-->

    <div class="highlights">
        <h3>Destaques</h3>
    </div>
    <div class="carousel">
        <ul class="product-list">
            <li class="product-item">
                <a href="instrumento1.html">
                    <img src="./images/sax-alto.png"/>
                </a>
                <a href="./pages/sax-alto-strauss.html">
                    <div class="nome">
                        SAXOFONE ALTO STRAUSS
                    </div>
                </a>
                <div class="price">R$2790,00</div>
            </li>
            <li class="product-item">
                <a href="instrumento2.html">
                    <img src="./images/violao-takamine.jpg"/>
                </a>
                <a href=".instrumento2.html">
                    <div class="nome">
                        VIOLÃO  TAKAMINE 
                    </div>
                </a>
                <div class="price">R$4600,00</div>
            </li>
            <li class="product-item">
                <a href="instrumento3.html">
                    <img src="./images/violao-tagima-paraty.jpg"/>
                </a>
                <a href=".instrumento3.html">
                    <div class="nome">
                        VIOLÃO TAGIMA PARATY 
                    </div>
                </a>
                <div class="price">R$500,00</div>
            </li>
            <li class="product-item">
                <a href="instrumento4.html">
                    <img src="./images/piano-digital-yamaha.jpg"/>
                </a>
                <a href="instrumento4.html">
                    <div class="nome">
                        PIANO DIGITAL YAMAHA 
                    </div>
                </a>
                <div class="price">R$3200,00</div>
            </li>
            <li class="product-item">
                <a href="instrumento5.html">
                    <img src="./images/violao-tagima-kansas.jpg"/>
                </a>
                <a href="instrumento5.html">
                    <div class="nome">
                        VIOLAO TAGIMA KANSAS
                    </div>
                </a>
                <div class="price">R$972,90</div>
            </li>
        </ul>
    </div>

    <!--End highlights-->

    <!--Begin news-->

    <div class="news">
        <h3>Novidades</h3></div>
    <div class="carousel">
        <ul class="product-list">
            <li class="product-item">
                <a href="instrumento6.html">
                    <img src="./images/kit-teclado-casio.jpg"/>
                </a>
                <a href=".instrumento6.html">
                    <div class="nome">
                        KIT TECLADO CASIO TONE
                    </div>
                </a>
                <div class="price">R$899,00</div>
            </li>
            <li class="product-item">
                <a href="instrumento7.html">
                    <img src="./images/casio-ctx800.jpg"/>
                </a>
                <a href=".instrumento7.html">
                    <div class="nome">
                        TECLADO CASIO CT-X800
                    </div>
                </a>
                <div class="price">R$1.590,00</div>
            </li>
            <li class="product-item">
                <a href="instrumento8.html">
                    <img src="./images/sax-tenor.jpg"/>
                </a>
                <a href=".instrumento8.html">
                    <div class="nome">
                        SAXOFONE TENOR YAMAHA
                    </div>
                </a>
                <div class="price">9.599,00</div>
            </li>
            <li class="product-item">
                <a href="instrumento9.html">
                    <img src="./images/sax-soprano.jpg"/>
                </a>
                <a href="instrumento9.html">
                    <div class="nome">
                        SAXOFONE SOPRANO YAMAHA
                    </div>
                </a>
                <div class="price">R$18.414,00</div>
            </li>
            <li class="product-item">
                <a href="instrumento10.html">
                    <img src="./images/guitarra-gibson.aspx"/>
                </a>
                <a href="instrumento10.html">
                    <div class="nome">
                        GUITARRA GIBSON LES PAUL
                    </div>
                </a>
                <div class="price">R$8.840,00</div>
            </li>
        </ul>
    </div>

    <!--End news-->

    <!-- End your code here -->
        
    <script src="./js/index.js"></script>
    </body>
</html>